@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: karla, Arial;
  background-color: #99999959;
}

.container {
  width: 1080px;
  margin: 20px auto;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
}
